table {
  width: 100%;
  font-family: Open Sans, sans-serif;
}

td {  
  width: 25%;
  border-right: 20px solid transparent;  
  height: 200px;
  vertical-align: top;
}

td:last-child {  
  border-right: 0;
}

.content {
  height: 100%;
  padding: 10px;
  border: #E4E4E4 1px solid;  
  background: #DBF4FD;
}

.content:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}