.fieldset {
  margin-top: 20px;
  width: 200px;
  border: 1px solid #8f3d5e;
  border-radius: 3px;  
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.fieldset__legend {
  padding: 0 5px;
  font-weight: bolder;
  font-size: 15px;
  color: #028090;
}

.fieldset__content {
  height: 200px;
  overflow-y: auto;
  color: #435070;
}