@page-background: #F5EEFC;
@arrow-background: #541743;
@active-arrow-background: #8B0C3C;
@arrow-height: 28px;
@arrow-extension-depth: 10px;
@arrow-text-color: #FFFFFF;

body {
  background-color: @page-background;
}

.row {
  margin-bottom: 20px;
  font-size: 0;
}

.row.custom {
  .arrow {
    margin-right: 5px;
  }
}

.arrow {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 135px;
  padding-left: @arrow-extension-depth;
  background: @arrow-background;  
}

.text {
  height: @arrow-height;
  line-height: @arrow-height;
  padding: 0 @arrow-extension-depth;
  background: transparent;
  font-size: 15px;
  color: @arrow-text-color;
  text-align: center;
  vertical-align: middle;
  font-family: 'Open Sans', Arial, sans-serif;
}

.arrow:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: @arrow-extension-depth solid @page-background;
  border-top: @arrow-height/2 solid transparent;
  border-bottom: @arrow-height/2 solid transparent;   
  content: "";
  z-index: 2;
}

.arrow:before {
  position: absolute;
  right: -1*@arrow-extension-depth;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: @arrow-extension-depth solid @arrow-background;
  border-top: @arrow-height/2 solid transparent;
  border-bottom: @arrow-height/2 solid transparent;
  content: "";
  z-index: 3;
}

.active {
  &,
  &:after {
    background: @active-arrow-background; 
  }
  
  &:before {
    border-left-color: @active-arrow-background;
  }
}