.content {
  padding: 10px;
}

.diagram {
  background-color: white;
  border: solid 1px #B1B1B1; 
  width: 100%; 
  height: 500px;
}

 /* remove blue frame from diagram */
canvas {
  outline: none; 
}

.filter {
  position: absolute;
  z-index: 3;
  top: 20px;
  left: 20px;  
}

.zoom {
  color: #373737;
  width: 20px;
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 15px;  
  cursor: pointer;
}

.fa-plus,
.fa-minus {
  background: #E4E4E4;
}

.introduction {
  margin-top: 20px;
  padding: 10px;
}

.about {
  margin-bottom: 20px;
}