.container {
  margin: 30px auto;
  width: 600px;
}

.inline {
  display: inline-block;
}

.collapsible .active .collapsible-header {
  font-weight: 600;
}

.row .tab-content {
  padding-top: 20px;
}

.result-color {
  width: 100px;
  height: 100px;
  border: 1px solid #9e9e9e;
  background: #000000;
}

.copy-button {
  margin-left: 10px;
  margin-bottom: -10px;
  cursor: pointer;
}