body {
  font-family: 'Open Sans', sans-serif;
  background: #C4D3F6;
  color: #1D1E22;
}

.container {
  margin: 20px auto;
  width: 800px;
}

.title {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.options {
  margin: 20px auto;
}

.dimension {
  display: inline-block;
  margin: 0 15px 10px 0;
  padding: 5px 10px;
  background-color: #ECECFF;
  color: #212529;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}

.dimension.active {
  background-color: #6c7ae0;
  color: #ffffff;
}

.dimension:hover {
  background-color: rgb(108, 122, 224, 0.3);
  color: #ffffff;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  color: #1D1E22;
}

tr {
  background-color: #ffffff;
  color: #212529;
  font-size: 14px;
  font-weight: 400;
}

tr:first-child {
  background-color: #6c7ae0;
  color: #ffffff;
  font-size: 18px;
}

tr:not(:first-child):hover {
  background-color: #ececff;
}

td, 
th {
  padding: 10px;
  border-bottom-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: left;
}

.note {
  margin: 10px 0;
  font-size: 10px;
}