body {
  padding: 20px;
  font: 14px sans-serif; 
}

.content {
  width: 300px;
  margin: 0 auto;  
}

.multiline-ellipsis(@lines-count: 1, @line-height: 1.4em, @background-color: #FFFFFF) {
  overflow: hidden;
  line-height: @line-height;
  max-height: @line-height * @lines-count;
  position: relative;
  
  &:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: absolute;
    top: @line-height * (@lines-count - 1);
    left: 100%;
    width: 1em;
    margin-left: -1em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;  
    background: @background-color;
  }
}

.multiline-1 {
  .multiline-ellipsis(3, 17px);
  margin-bottom: 20px;
}

.multiline-2 {
  background: #797979;
  .multiline-ellipsis(3, 17px, #797979);
  margin-bottom: 20px;
}

.multiline-3 {
  background: #5890CD;
  font-size: 20px;
  .multiline-ellipsis(5, 22px, #5890CD);
  margin-bottom: 20px;
}

.multiline-4 {
  .multiline-ellipsis(5);
}