@circle-radius: 50px;
@border-width: 5px;

div {
  display: inline-block;
  margin: 20px;
  border: @border-width solid #3CACAE;
  background: #C8F4F9;  
} 

.circle-full {
  width: 2*@circle-radius;
  height: 2*@circle-radius;
  border-radius: 100%;
}

.circle-top-half {
  width: 2*@circle-radius;
  height: @circle-radius;
  border-top-left-radius: @circle-radius + @border-width;
  border-top-right-radius: @circle-radius + @border-width;
  border-bottom: 0;
}

.circle-bottom-half {
  width: 2*@circle-radius;
  height: @circle-radius;
  border-bottom-left-radius: @circle-radius + @border-width;
  border-bottom-right-radius: @circle-radius + @border-width;
  border-top: 0;
}

.circle-right-half {
  width: @circle-radius;
  height: 2*@circle-radius;
  border-top-right-radius: @circle-radius + @border-width;
  border-bottom-right-radius: @circle-radius + @border-width;
  border-left: 0;
}

.circle-left-half {
  width: @circle-radius;
  height: 2*@circle-radius;
  border-top-left-radius: @circle-radius + @border-width;
  border-bottom-left-radius: @circle-radius + @border-width;
  border-right: 0;
}

.circle-top-right-fourth {
  width: @circle-radius;
  height: @circle-radius;
  border-top-right-radius: @circle-radius + @border-width;
  border-left: 0;
  border-bottom: 0;
}

.circle-top-left-fourth {
  width: @circle-radius;
  height: @circle-radius;
  border-top-left-radius: @circle-radius + @border-width;
  border-right: 0;
  border-bottom: 0;
}

.circle-bottom-right-fourth {
  width: @circle-radius;
  height: @circle-radius;
  border-bottom-right-radius: @circle-radius + @border-width;
  border-left: 0;
  border-top: 0;
}

.circle-bottom-left-fourth {
  width: @circle-radius;
  height: @circle-radius;
  border-bottom-left-radius: @circle-radius + @border-width;
  border-right: 0;
  border-top: 0;
}