body {
  font-family: Open Sans, sans-serif;
}

#container {
  width: 800px;
  height: 1000px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 #97ABD1, 0 2px 10px 0 #97ABD1;
}

.title {
  text-anchor: middle;  
  font-size: 20px; 
  font-weight: bold;
  fill: #4D004B;
}

.region {  
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.region:hover {
  opacity: 0.5;
}

.legend-tile text {
  font-size: 10px;
  fill: #4D004B;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  padding: 5px 10px;
  opacity: 0.8;
  z-index: 10;
  border-radius: 3px;
  background-color: #4D004B;
  font-size: 13px;
  color: #ffffff;
}

.tooltip:before {
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #4D004B;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;    
}