table {
  border-spacing: 0 10px;
  table-layout: auto;
}

tr:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

td {
 padding: 20px;
 border-bottom: #E4E4E4 1px solid;
 border-top: #E4E4E4 1px solid;
}

td:first-child {
  font-weight: bold;
  border-left: #E4E4E4 1px solid;
}

td:last-child {
  border-right: #E4E4E4 1px solid;
  width: 100%;
}

td:not(last-child) {
  width: 1px;
  white-space: nowrap;
}