#container {
  width: 800px;
  height: 1000px;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.region {
  fill: rgba(8, 81, 156, 0.6);
  stroke: rgba(8, 81, 156, 0.2);
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.region:hover {
  fill: rgba(8, 81, 156, 0.2);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  padding: 5px 10px;
  opacity: 0.8;
  z-index: 10;
  border-radius: 3px;
  background-color: #222222;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  color: #ffffff;
}

.tooltip:before {
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip:after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -8px;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid #222222;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;    
}